<div class="loading" ng-show="loading">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular><span>Loading ...</span></div>
<div class="row downloads" ng-hide="loading">
    <div class="col s12 m6 l4" ng-repeat="file in downloads.files">
        <div class="card">
            <a href="javascript:void(0)" class="secondary-content" ng-click="delete(file)">
                <i class="fa fa-times download-icon" aria-hidden="true"> </i>
            </a>
            <div class="card-content blue-text text-darken-2">
                <span class="card-title">{{file.serieName}} s{{file.season}}e{{file.episode}} ({{file.progress.progress}}%)</span>
                <div class="progress">
                    <div ng-class="{'indeterminate': !file.started, 'determinate': file.started, 'red': file.error, 'green': file.finished && file.started, 'orange': file.started && !file.finished && !file.error}" style="width: {{file.progress.progress}}%"></div>
                </div>
            </div>
            <div class="card-action"><a>{{file.progress.size}}</a> <a>{{file.progress.written}}</a> <a>{{file.progress.speed}}</a> <a>{{file.progress.timeRemaining}}</a></div>
        </div>
    </div>
</div>
