<div class="loading" ng-show="home.loading">
  <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  <span>Loading ...</span>
</div>
<div class="row home" ng-hide="home.loading">
  <ul class="collection">
    <li class="collection-item avatar" ng-repeat="file in home.Files">
      <img ng-src="{{file.poster}}" class="poster-img">
      <img ng-src="api{{file.thumbUrl}}" alt="" class="circle">
      <span class="title">{{file.name}} S{{file.season}}E{{file.episode}}</span>
      <p><b>{{file.title}}</b></p>
      <p><b ng-show="file.srt">Srt</b><b ng-hide="file.srt">no Srt</b></p>
      <md-menu md-position-mode="target-right target">
        <a ng-click="$mdMenu.open($event)" class="secondary-content" style="padding:0 5px; cursor: pointer">
          <i class="fa fa-ellipsis-v"></i>
        </a>
        <md-menu-content width="4">
          <md-menu-item>
            <md-button href="api{{file.streamUrl}}"><i class="fa fa-download"></i> Stream</md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="home.confirmDelete(file, $event)"><i class="fa fa-trash"></i> Delete</md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="home.openSubtitlesDialog(file, $event)"><i class="fa fa-cc"></i> Add subtitles</md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </li>
  </ul>
</div>
