<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper pink">
            <a class="brand-logo">Showflix</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="fa fa-bars"></i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#/app/home">Home</a></li>
                <li><a href="#/app/downloads">Downloadings</a></li>
                <li>
                    <a href="#/app/queue">
                        Queue 
                        <span ng-show="newItems" class="new badge">{{newItems}}</span>
                    </a>
                </li>
                <li><a href="#/app/settings">Settings</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="#/app/home">Home</a></li>
                <li><a href="#/app/downloads">Downloadings</a></li>
                <li>
                    <a href="#/app/queue">
                        Queue 
                        <span ng-show="newItems" class="new badge">{{newItems}}</span>
                    </a>
                </li>
                <li><a href="#/app/settings">Settings</a></li>
            </ul>
        </div>
    </nav>
</div>
<div ui-view="mainView"></div>
<div class="fixed-action-btn click-to-toggle center">
    <a class="btn-floating btn-large pink">
        <i class="large material-icons">menu</i>
    </a>
    <ul>
        <li><a class="btn-floating blue darken-1" ng-click="showAddtoQueue($event)"><i class="material-icons">add</i></a></li>
        <li><a class="btn-floating orange" ng-click="startServer()"><i class="large material-icons">{{serverOn == true ? "stop" : "play_arrow"}}</i></a></li>
    </ul>
</div>
