.season {
  .season-background {
    background-color: $transparent_accent;
  }
  md-tabs md-content {
    background-color: transparent;
    color: white;
  }
  .thumb-card {
    padding: 0;
  }
  .float-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
  .air-date{
    color: rgb(84,110,122);
    font-size: 0.8em;
  }
}
