md-select {
  margin-left: 8px;
  width: 150px;
  .md-text {
    text-transform: capitalize;
  }
}

md-option .md-text {
  text-transform: capitalize;
}

.show-card md-card-title {
  padding: 0;
  position: relative;
  .card-media {
    width: auto;
    height: auto;
    img {
      min-height: 150px;
    }
  }
  .show-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    z-index: 10;
    background: linear-gradient(rgba(0, 0, 0, 0) 10%, black 90%);
    color: white;
    padding: 8px;
    .title {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      margin-bottom: 4px;
    }
  }
}
