<md-content layout="column" flex>
  <div layout="row" flex="10">
    <md-select ng-model="$ctrl.sort" placeholder="Sort" class="md-no-underline" ng-change="$ctrl.optionsChanged()">
      <md-option ng-repeat="item in $ctrl.sorts" value="{{item.key}}">{{item.name}}</md-option>
    </md-select>
    <md-select ng-model="$ctrl.genre" placeholder="Genre" class="md-no-underline" ng-change="$ctrl.optionsChanged()">
      <md-option ng-repeat="item in $ctrl.genres" value="{{item}}">{{item}}</md-option>
    </md-select>
  </div>

  <div flex="90" layout="row" layout-wrap ng-hide="$ctrl.loading" style="overflow-y: scroll;">
    <div flex="33" flex-gt-sm="20" flex-sm="20" ng-repeat="show in $ctrl.shows">
      <md-card class="show-card" ng-click="$ctrl.goTo(show.imdb)">
        <md-card-title>
          <md-card-title-media>
            <div class="md-media-lg card-media">
              <img ng-src="{{show.poster_big}}" alt="{{show.title}}">
              <div class="show-info" layout="column">
                <span flex class="title">{{show.title}}</span>
                <span flex>{{show.year}}</span>
              </div>
            </div>
          </md-card-title-media>
        </md-card-title>
      </md-card>
    </div>
  </div>

  <div flex="90" layout="row" ng-show="$ctrl.loading" layout-align="center center">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </div>
</md-content>
