.show {
  .top-background {
    margin: 0;
  }
  .poster-card {
    margin-top: 0;
  }
  .show-info {
    color: white;
  }
  .season-card {
    margin: 3px;
    .season-info {
      background: #1d1d1d;
      color: white;
      padding: 8px;
    }
  }
}
