<div class="loading" ng-show="loading">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    <span>Loading ...</span>
</div>
<div class="row home" ng-hide="loading">
    <ul class="collection">
        <li class="collection-item avatar" ng-repeat="file in files">
            <img ng-src="{{file.thumbUrl}}" alt="" class="circle">
            <span class="title">{{file.filename}}</span>
            <p>{{file.title}}
            </p>
            <a href="{{file.streamUrl}}" class="secondary-content">
                <i class="fa fa-download download-icon" aria-hidden="true"></i>
            </a>
            <br>
            <a ng-click="confirmDelete(file.streamUrl, $event)" class="secondary-content delete-btn">
                <i class="fa fa-trash download-icon" aria-hidden="true"></i>
            </a>
        </li>
    </ul>
</div>
