<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a class="brand-logo">Showflix</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="fa fa-bars"></i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#/app/home">Home</a></li>
                <li><a href="#/app/downloads">Downloadings</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="#/app/home">Home</a></li>
                <li><a href="#/app/downloads">Downloadings</a></li>
            </ul>
        </div>
    </nav>
</div>
<div ui-view="mainView"></div>
